name: Add and configure GitHub repository

on:
  # workflow_call:
  #   inputs:
  #     NEW_REPO_NAME:
  #       type: string
  #       required: true
  #   secrets:
  #     GH_PRIVATE_TOKEN:
  #       required: true

  # repository_dispatch:
  #   types: [setup-repo, delete-repo]
  # schedule:
  #   - cron: "0/5 8-19 * * *" # Run at every minute 5 starting at minute 0 every hour

  workflow_dispatch:

permissions:
  id-token: write
  contents: write # Only for testing purposes
  # contents: read

jobs:
  workflow:
    runs-on: ubuntu-latest

    env:
      TF_VAR_gh_private_token: ${{ secrets.GH_PRIVATE_TOKEN }}
      GH_HOSTNAME: github.com
      GH_TOKEN: ${{ secrets.GH_PRIVATE_TOKEN }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v3
      
      # - name: Authenticate GitHub CLI
      #   run: |
      #     gh config set git_protocol ssh
      #     echo "${{secrets.GH_PRIVATE_TOKEN}}" | gh auth login --hostname "$GH_HOSTNAME" --with-token
      #     if gh auth status >/dev/null 2>&1; then
      #       echo "Github CLI authenticated successfully"
      #     else
      #       echo "Github CLI authentication failed"
      #       exit 1
      #     fi
      # - name: Update Terraform repositories list
      #   run: |
      #       ACTION_TYPE="${{ github.event.action }}"
      #       NEW_REPO_NAME=$(echo "${{ github.event.client_payload.new_repo_name }}" | sed 's|.*/||')
      #       TFVARS_FILE="repositories.auto.tfvars"
        
      #       echo "Action type: $ACTION_TYPE"
      #       echo "Repo name: $NEW_REPO_NAME"
        
      #       if [[ ! -f "$TFVARS_FILE" ]]; then
      #           echo "File $TFVARS_FILE not found!"
      #           exit 1
      #       fi
        
      #       if [[ "$ACTION_TYPE" == "setup-repo" ]]; then
      #           # Check if entry already exists
      #           if grep -q "\"$NEW_REPO_NAME\"" "$TFVARS_FILE"; then
      #               echo "'$NEW_REPO_NAME' already exists in list_repositories."
      #               exit 0
      #           fi
        
      #           # Insert new entry before the closing bracket
      #           sed -i "/list_repositories\s*=\s*\[/,/]/ s/\]/    \"$NEW_REPO_NAME\",\n]/" "$TFVARS_FILE"
      #           echo "Added '$NEW_REPO_NAME' to list_repositories."
        
      #       elif [[ "$ACTION_TYPE" == "delete-repo" ]]; then
      #           # Remove the entry if it exists
      #           if grep -q "\"$NEW_REPO_NAME\"" "$TFVARS_FILE"; then
      #               sed -i "/\"$NEW_REPO_NAME\"/d" "$TFVARS_FILE"
      #               echo "Removed '$NEW_REPO_NAME' from list_repositories."
      #           else
      #               echo "'$NEW_REPO_NAME' not found in list_repositories."
      #           fi
      #       else
      #           echo "Unknown action type: $ACTION_TYPE"
      #           exit 1
      #       fi

      - name: Configure repositories
        run: |
          terraform init

          # Importing wm repositories recently created
          githubRepos=$(gh repo list "tf-7ofWMvL9xWxxT8VsCQrU" --no-archived --limit 300 --json name,repositoryTopics | jq -r '.[] | (.repositoryTopics // []) as $topics | select(($topics | map(.name) | index("webmethods")) or ($topics | map(.name) | index("dataiku")) or ($topics | map(.name) | index("standard"))) | .name')
          stateRepos=$(terraform show -json | jq -r '.values.root_module.resources[] | select(.type=="github_repository") | .values.name')

          for repo in $githubRepos; do
            if ! grep -qx "$repo" <<< "$stateRepos"; then # Check if github repo is already in tf state
              terraform import github_repository.repository[\"$repo\"] $repo
              echo "NEW_APPS_TO_CONFIGURE=true" >> $GITHUB_ENV
            fi
          done

          # terraform plan
          terraform apply -auto-approve

      - name: Commit new state
        if: env.NEW_APPS_TO_CONFIGURE == 'true'
        run: |
          git config --global user.name "SalonTom"
          git config --global user.email "tom.salon62@gmail.com"
          
          git add .
          git commit -m "Adding new repos to state."
          git push

      - name: Trigger bis-kube-tf-bootstrap
        if: env.NEW_APPS_TO_CONFIGURE == 'true'
        run: |
          echo "Triggering bis-kube-tf-bootstrap workflow."
        
      - name: Trigger appli-oci
        if: env.NEW_APPS_TO_CONFIGURE == 'true'
        run: |
          echo "Triggering appli-oci workflow."
