name: Add and configure GitHub repository

on:
  # workflow_call:
  #   inputs:
  #     NEW_REPO_NAME:
  #       type: string
  #       required: true
  #   secrets:
  #     GH_PRIVATE_TOKEN:
  #       required: true
  repository_dispatch:
    types:
      - setup-repo

permissions:
  id-token: write
  contents: write

jobs:
  workflow:
    runs-on: ubuntu-latest

    env:
      TF_VAR_gh_private_token: ${{ secrets.GH_PRIVATE_TOKEN }}
      GH_HOSTNAME: github.com

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v3
      - name: Authenticate GitHub CLI
        run: |
          gh config set git_protocol ssh
          echo "${{secrets.GH_PRIVATE_TOKEN}}" | gh auth login --hostname "$GH_HOSTNAME" --with-token
          if gh auth status >/dev/null 2>&1; then
            echo "Github CLI authenticated successfully"
          else
            echo "Github CLI authentication failed"
            exit 1
          fi
      - name: Update Terraform repositories list
        run: |
          # Check if file exists
          echo "${{github.event.client_payload.new_repo_name}}"
          NEW_REPO_NAME=$(echo "${{ github.event.client_payload.new_repo_name }}" | sed 's|.*/||')
          TFVARS_FILE="repositories.auto.tfvars"
          
          if [[ ! -f "$TFVARS_FILE" ]]; then
              echo "File $TFVARS_FILE not found!"
              exit 1
          fi

          # Check if entry already exists
          if grep -q "\"$NEW_REPO_NAME\"" "$TFVARS_FILE"; then
              echo "'$NEW_REPO_NAME' already exists in list_repositories."
              exit 0
          fi

          # Insert new entry before the closing bracket
          sed -i "/list_repositories\s*=\s*\[/,/]/ s/\]/    \"$NEW_REPO_NAME\",\n]/" "$TFVARS_FILE"

          echo "Added '$NEW_REPO_NAME' to list_repositories."
          cat $TFVARS_FILE
        
      - name: Terraform import and apply
        run: |
          terraform init

          NEW_REPO_NAME=$(echo "${{ github.event.client_payload.new_repo_name }}" | sed 's|.*/||')
          terraform import github_repository.repository[\"$NEW_REPO_NAME\"] $NEW_REPO_NAME
          
          terraform apply -auto-approve

      - name: Commit new repo list and state
        run: |

          git config --global user.name "SalonTom"
          git config --global user.email "tom.salon62@gmail.com"
          
          git add .
          git commit -m "Adding repo ${{github.event.client_payload.new_repo_name}} to state."
          git push
